# Tipos de Datos y Valores Extraviados

En este JNB se revisará el tema de Tipos de Datos y Valores Extraviados en Pandas.

In [ ]:
print("Hello World!")

Hello World!

In [3]:
import pandas as pd

In [4]:
reviews = pd.read_csv("https://raw.githubusercontent.com/GTD2101-ACD-AB-EJ23/03-pandas-19170571/main/data/winemag-data-130k-v2.csv", index_col=0)

In [2]:
!wget --no-check-certificate \
    https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv \
    -O titanic.csv

--2023-03-09 21:14:31--  https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.009s

2023-03-09 21:14:32 (6.15 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [3]:
df = pd.read_csv('titanic.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_nse = df[["Name","Sex","Age"]]

In [7]:
df_nse.tail()

                                         Name     Sex   Age
886                     Montvila, Rev. Juozas    male  27.0
887              Graham, Miss. Margaret Edith  female  19.0
888  Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                     Behr, Mr. Karl Howell    male  26.0
890                       Dooley, Mr. Patrick    male  32.0

In [10]:
df_nse.shape

(714, 3)

In [9]:
df_nse  = df_nse.dropna()

In [14]:
total_pasajeros = len(df_nse)
print(total_pasajeros)

714

### Calcular el porcentaje de hombres y mujeres.

In [11]:
df_hombres = df_nse[df_nse["Sex"]== 'male']

In [15]:
total_hombres = len(df_hombres)
total_mujeres = total_pasajeros - total_hombres
print(f"Total de hombres: {total_hombres/total_pasajeros*100}%")
print(f"Total de mujeres: {total_mujeres/total_pasajeros*100}%")

Total de hombres: 63.4453781512605%
Total de mujeres: 36.554621848739494%

### Calcular cuantos niños/niñas iban a bordo

In [23]:
edad = 20
df_menores = len(df_nse[df_nse["Age"] <= edad])
print(f"Iban {df_menores} pasajeros de {edad} años abordo. Porcentaje {df_menores/total_pasajeros*100} % " )

Iban 179 pasajeros de 20 años abordo. Porcentaje 25.07002801120448 %

In [24]:
df_clases = df[["Survived","Pclass","Name","Sex","Age"]]
df_clases = df_clases.dropna()
df_clases.head()

,Survived,Pclass,Name,Sex,Age
0,0,3,"Braund, Mr. Owen Harris",male,22.0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0
2,1,3,"Heikkinen, Miss. Laina",female,26.0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0
4,0,3,"Allen, Mr. William Henry",male,35.0

In [44]:
total = len(df_clases)
prim_clase = len(df_clases[df_clases["Pclass"]==1])
seg_clase = len(df_clases[df_clases["Pclass"]==2])
ter_clase = len(df_clases[df_clases["Pclass"]==3])

prim_clase_sob = len(df_clases.loc[(df_clases.Pclass==1) & (df_clases.Survived==1)])
seg_clase_sob = len(df_clases.loc[(df_clases.Pclass==2) & (df_clases.Survived==2)])
ter_clase_sob = len(df_clases.loc[(df_clases.Pclass==3) & (df_clases.Survived==3)])


print(f"Total de pasajeros: {total}")
print(f"Total de pasajeros de primera clase: {prim_clase}")
print(f"Total de pasajeros de segunda clase: {seg_clase}")
print(f"Total de pasajeros de tercera clase: {ter_clase}")

print(f"Total sobrevivientes de pasajeros de primera clase: {prim_clase_sob}.Es decir el {prim_clase_sob/prim_clase*100}% de su clase")
print(f"Total sobrevivientes de pasajeros de segunda clase: {seg_clase_sob}. ES decir el {seg_clase_sob/seg_clase*100}% de su clase")
print(f"Total sobrevivientes de pasajeros de tercera clase: {ter_clase_sob}. Es decir el {ter_clase_sob/ter_clase*100}% de su clase")

Total de pasajeros: 714
Total de pasajeros de primera clase: 186
Total de pasajeros de segunda clase: 173
Total de pasajeros de tercera clase: 355
Total sobrevivientes de pasajeros de primera clase: 122.Es decir el 65.59139784946237% de su clase
Total sobrevivientes de pasajeros de segunda clase: 0. ES decir el 0.0% de su clase
Total sobrevivientes de pasajeros de tercera clase: 0. Es decir el 0.0% de su clase

In [5]:
reviews.points.dtype

dtype('int64')

In [7]:
reviews.price.astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

### Valores nulos

In [8]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy
129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho
129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

### Sustituyendo valores nulos en un campo

In [11]:
reviews2 = reviews.region_1.fillna("No country")

In [12]:
reviews2[pd.isnull(reviews.country)]

913       No country
3131      No country
4243      No country
9509      No country
9750      No country
             ...
124176    No country
129407    No country
129408    No country
129590    No country
129900    No country
Name: region_1, Length: 63, dtype: object

In [13]:
reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

In [14]:
reviews[pd.isnull(reviews.country)] = "Unknown"

In [15]:
reviews[pd.isnull(reviews.country)]

Empty DataFrame
Columns: [country, description, designation, points, price, province, region_1, region_2, taster_name, taster_twitter_handle, title, variety, winery]
Index: []

In [19]:
reviews[reviews.country == "Unknown"]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Unknown,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Unknown,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,Unknown,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,Unknown,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,Unknown,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Unknown,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,Unknown,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,Unknown,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,Unknown,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,Unknown,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit